body {
  margin:auto;
  width: 70%;
  text-align: center;
}

section section {
  width: 13rem;
  height: 28rem;
  display:inline-block;
  vertical-align: top;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

section section img {
  height: 13.4em;
  width: 8.8em;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: .25em;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: .25em;
}
.checked {
    color: orange;
}

button {
  margin-top: 1em
}

li.bg-black .fa-circle {
  color: black;
}
li.bg-blue .fa-circle {
  color: blue;
}
li.bg-gray .fa-circle {
  color: gray;
}
li.bg-green .fa-circle {
  color: green;
}
li.bg-yellow .fa-circle {
  color: yellow;
}
li.bg-red .fa-circle {
  color: red;
}
li.bg-white .fa-circle {
  color: white;
}
li.bg-maroon .fa-circle {
  color: maroon;
}
li.bg-orange .fa-circle {
  color: orange;
}
li.bg-purple .fa-circle {
  color: purple;
}

h3, h5, p {
  margin: 0;
  font-size: 1.25em;
}
section p:hover, section h3:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
.price, .rating {
  margin-top: .75em;
}
button {
  margin-top: 1.5em;
}
header {
  margin-bottom: 1rem;
}